div.hero-list {
 display:flex ; 
 justify-content:space-evenly;
}

div.hero {
  font-size: 1.2rem;
  border:2px solid darkgoldenrod; 
}

div.hero h4{
  font-size:1.4rem ;
}

div.hero h4 img {
  cursor:pointer;
  width:24px; 
  height:24px ; 
  margin-bottom: 4px ; 
}